{% load static %}
<html>
 <head>
    <meta charset="utf-8" />
    <title>{% block title %}Patients{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script
        src="http://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
</head>
 <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">EMC psy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link  text-primary" href={% url "PatientList" %}>Пациенты стационара<span class="sr-only">(current)</span></a>
                    </li>
                    {% if profile == 'D' %}
                    <li class="nav-item active">
                        <a class="nav-link  text-primary" href={% url "AllPatients" %}>База пацинетов <span class="sr-only">(current)</span></a>
                      </li>
                    {% endif %}
                  </ul>
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          {% if profile == 'D' %}
                            <h5 class="text-muted">Врачебный ЛК</h5>
                          {% else %}
                          <h5 class="text-muted">ЛК Персонала</h5>
                          {% endif %}
                        </li>
                  </ul>
                  
                  <ul class="navbar-nav ml-auto">
                        <li class="nav-item  active">
                            <a class="nav-link  text-primary" href={% url 'logout' %}>Выйти</a>
                        </li>
                  </ul>
                  
                </div>
              </nav>

        <div class="container-fluid">
          <div class="row">
              {% url 'RecordCreate' patient.id as the_url %}
              {% if request.get_full_path != the_url %}
              <div class="col-2 border-right mt-3">
                
              </div>
              {% endif %}
            
            
            <div class="col-10">
              {% block main_content %}
              {%endblock%}
            </div>
          </div>
            
        </div>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
 </body>
 
</html>